<!DOCTYPE html>
<html lang="pl" class="scroll-smooth dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OSO5 • Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="hero-bg text-zinc-200 min-h-screen font-sans">

<!-- HEADER -->
<header class="fixed top-0 left-0 right-0 z-50 border-b border-white/10 bg-black/70 backdrop-blur-xl">
  <div class="max-w-screen-2xl mx-auto px-8 py-5 flex items-center justify-between">
    <div class="flex items-center gap-x-3">
      <div class="w-9 h-9 bg-gradient-to-br from-red-600 via-orange-300 to-blue-500 rounded-2xl flex items-center justify-center text-white font-bold text-1xl leading-none pt-0.5">igg</div>
      <div>
        <span class="font-bold text-2xl tracking-tighter text-white">Centrum Wszechświata</span>
      </div>
    </div>
    <div class="flex items-center gap-x-8">
      <div class="flex items-center gap-x-3">
        <div class="text-right">
          <div class="text-sm font-medium">Nie zalogowano</div>
          <div class="text-xs text-red-800">Status: offline</div>
        </div>
        <div class="w-9 h-9 bg-gradient-to-br from-blue-500 via-orange-300 to-red-600 rounded-2xl flex items-center justify-center text-neutral-900 text-2xl font-semibold"><i class="fa-solid fa-circle-user"></i></div>
      </div>
    </div>
  </div>
</header>

<div class="flex justify-center items-center py-80">
  <!-- FORM HOLDER -->
  <div class="bg-zinc-600/70 border-2 border-zinc-200/80 rounded-3xl p-8 flex justify-center items-center">
    
    <form id="login" action="{{ url_for('login') }}" method="POST">
      <input id="user" name="user" type="text" value="{{ PREV_USERNAME }}" placeholder="user" class="w-70% h-9 bg-zinc-300 border-2 border-zinc-600 rounded-xl text-zinc-600 font-bold text-1xl py-2 my-3 px-2">
      <br><h6>{{ USERNAME_ERR }}</h6>
      <input id="passwd" name="passwd" type="password" placeholder="password" class="w-70% h-9 bg-zinc-300 border-2 border-zinc-600 rounded-xl text-zinc-600 font-bold text-1xl py-2 my-3 px-2">
      <h6>{{ PASSWD_ERR }}</h6>
      <input type="submit" value="Log in" class="w-full h-9 bg-gradient-to-br from-indigo-800 via-blue-800 to-indigo-800 rounded-xl text-white font-bold py-2 mt-7">
    </form>
  </div>
</div>

</body>
</html>